<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Bangla</key>
	<array>
		<dict>
			<key>categoryID</key>
			<string>0</string>
			<key>categoryName</key>
			<string>প্রচ্ছদ</string>
			<key>categoryImage</key>
			<string>home.png</string>
		</dict>
		<dict>
			<key>categoryID</key>
			<string>1</string>
			<key>categoryName</key>
			<string>জাতীয়</string>
			<key>categoryImage</key>
			<string>national.png</string>
		</dict>
		<dict>
			<key>categoryID</key>
			<string>2</string>
			<key>categoryName</key>
			<string>অর্থনীতি</string>
			<key>categoryImage</key>
			<string>orthoniti.png</string>
		</dict>
		<dict>
			<key>categoryID</key>
			<string>3</string>
			<key>categoryName</key>
			<string>রাজনীতি</string>
			<key>categoryImage</key>
			<string>politics.png</string>
		</dict>
		<dict>
			<key>categoryID</key>
			<string>4</string>
			<key>categoryName</key>
			<string>আইটি কর্নার</string>
			<key>categoryImage</key>
			<string>it_corner.png</string>
		</dict>
		<dict>
			<key>categoryID</key>
			<string>5</string>
			<key>categoryName</key>
			<string>বিনোদন</string>
			<key>categoryImage</key>
			<string>entertainment.png</string>
		</dict>
		<dict>
			<key>categoryID</key>
			<string>6</string>
			<key>categoryName</key>
			<string>খেলা</string>
			<key>categoryImage</key>
			<string>sports.png</string>
		</dict>
		<dict>
			<key>categoryID</key>
			<string>7</string>
			<key>categoryName</key>
			<string>ফিচার</string>
			<key>categoryImage</key>
			<string>feature.png</string>
		</dict>
		<dict>
			<key>categoryID</key>
			<string>8</string>
			<key>categoryName</key>
			<string>অসম্পাদিত</string>
			<key>categoryImage</key>
			<string>osompadito.png</string>
		</dict>
		<dict>
			<key>categoryID</key>
			<string>9</string>
			<key>categoryName</key>
			<string>বিদেশ</string>
			<key>categoryImage</key>
			<string>out_side_of_bd.png</string>
		</dict>
		<dict>
			<key>categoryID</key>
			<string>10</string>
			<key>categoryName</key>
			<string>শিক্ষাঙ্গন</string>
			<key>categoryImage</key>
			<string>shikkha.png</string>
		</dict>
		<dict>
			<key>categoryID</key>
			<string>11</string>
			<key>categoryName</key>
			<string>কোর্ট-কাচারি</string>
			<key>categoryImage</key>
			<string>court-kachari.png</string>
		</dict>
		<dict>
			<key>categoryID</key>
			<string>12</string>
			<key>categoryName</key>
			<string>ধর্ম</string>
			<key>categoryImage</key>
			<string>dhormo.png</string>
		</dict>
		<dict>
			<key>categoryID</key>
			<string>13</string>
			<key>categoryName</key>
			<string>লাইফস্টাইল</string>
			<key>categoryImage</key>
			<string>life-style.png</string>
		</dict>
		<dict>
			<key>categoryID</key>
			<string>14</string>
			<key>categoryName</key>
			<string>সর্বাধিক ইমেইল</string>
			<key>categoryImage</key>
			<string>email.png</string>
		</dict>
		<dict>
			<key>categoryID</key>
			<string>15</string>
			<key>categoryName</key>
			<string>সর্বাধিক শেয়ার</string>
			<key>categoryImage</key>
			<string>shareicon.png</string>
		</dict>
	</array>
	<key>English</key>
	<array>
		<dict>
			<key>categoryID</key>
			<string>0</string>
			<key>categoryName</key>
			<string>Top Stories</string>
			<key>categoryImage</key>
			<string>home.png</string>
		</dict>
		<dict>
			<key>categoryID</key>
			<string>1</string>
			<key>categoryName</key>
			<string>National</string>
			<key>categoryImage</key>
			<string>national.png</string>
		</dict>
		<dict>
			<key>categoryID</key>
			<string>2</string>
			<key>categoryName</key>
			<string>Business</string>
			<key>categoryImage</key>
			<string>commercial.png</string>
		</dict>
		<dict>
			<key>categoryID</key>
			<string>3</string>
			<key>categoryName</key>
			<string>Politics</string>
			<key>categoryImage</key>
			<string>politics.png</string>
		</dict>
		<dict>
			<key>categoryID</key>
			<string>4</string>
			<key>categoryName</key>
			<string>Tech</string>
			<key>categoryImage</key>
			<string>tech.png</string>
		</dict>
		<dict>
			<key>categoryID</key>
			<string>5</string>
			<key>categoryName</key>
			<string>Entertainment</string>
			<key>categoryImage</key>
			<string>entertainment.png</string>
		</dict>
		<dict>
			<key>categoryID</key>
			<string>6</string>
			<key>categoryName</key>
			<string>Sports</string>
			<key>categoryImage</key>
			<string>sports.png</string>
		</dict>
		<dict>
			<key>categoryID</key>
			<string>7</string>
			<key>categoryName</key>
			<string>Opinion</string>
			<key>categoryImage</key>
			<string>shikkha.png</string>
		</dict>
		<dict>
			<key>categoryID</key>
			<string>8</string>
			<key>categoryName</key>
			<string>World</string>
			<key>categoryImage</key>
			<string>world.png</string>
		</dict>
		<dict>
			<key>categoryID</key>
			<string>9</string>
			<key>categoryName</key>
			<string>Education</string>
			<key>categoryImage</key>
			<string>shikkha.png</string>
		</dict>
		<dict>
			<key>categoryID</key>
			<string>10</string>
			<key>categoryName</key>
			<string>Life Style</string>
			<key>categoryImage</key>
			<string>life-style.png</string>
		</dict>
		<dict>
			<key>categoryID</key>
			<string>11</string>
			<key>categoryName</key>
			<string>Most Emailed</string>
			<key>categoryImage</key>
			<string>email.png</string>
		</dict>
		<dict>
			<key>categoryID</key>
			<string>12</string>
			<key>categoryName</key>
			<string>Most Shared</string>
			<key>categoryImage</key>
			<string>shareicon.png</string>
		</dict>
	</array>
</dict>
</plist>
